@import "./var.less";

@font-face {
  font-family: "CoolFont";
  src: url("/fonts/hhght.100.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Harmmony";
  src: url(/fonts/HarmonyOS_Sans_Medium.ttf) format("ttf");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
}
html {
  background: url(/bg.gif);
  background-size: 760px;
}
body {
  font-size: 14px;
  font-family: Verdana, sans-serif, "Microsoft YaHei";
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
  color: #585141;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Harmmony", "CoolFont";
  font-weight: 500;
  color: @text_blank;
}
a {
  color: @text_blue;
  text-decoration: none;
  &:visited {
    color: #589dd6;
  }
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #d8d7ef;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  // padding: 10px 1em 10px 3em;
  margin: 5px 0;
  border-radius: 6px;
  overflow: hidden;
  color: #5d4560;
  font-style: normal;
  background-color: #fff;
  border-left: 6px solid #d9dde7;
  .qout {
    display: block;
    height: 12px;
    padding: 0 10px;
    overflow: hidden;
    font-weight: 700;
    color: #d9dde7;
    // background-color: #d9dde7;
  }
  &::before {
    content: "“";
    .qout;
  }
  &::after {
    content: "”";
    .qout;
    text-align: right;
  }
  p {
    padding: 5px 15px;
  }
}
#main {
  .wrap_inner;
  padding: 70px 0 20px;
  background-color: @bg_grey;
  background-image: url(/cbg.png);
  background-repeat: no-repeat;
  background-position: right calc(100% + 60px);
  background-size: 90px auto;
  > .article {
    padding: 0 20px;
    position: relative;
    word-break: break-all;
    
  }
}
article {
  > h1 {
    margin: 0.4em 0 0.1em;
    font-size: 18px;
  }
  > h2 {
    padding: 0.5em 0 0.1em;
    font-size: 16px;
    font-weight: 600;
  }
  > h3 {
    padding: 0.3em 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #666555;
  }
  ul,
  ol {
    padding-inline-start: 2em;
  }
  li {
    margin-bottom: 10px;
  }
  > p {
    padding: 7px 2em;
  }
  .astro-code {
    display: block;
    margin: 10px 2em;
    background-color: #1f1d2b !important;
    border-left: 5px solid @bg_grey;
  }
  pre > code {
    border: 0;
    display: inline;
    max-width: initial;
    overflow: initial;
    line-height: inherit;
    white-space: pre-wrap;
    background: 0 0;
  }
  code {
    color: #666555;
  }
  hr {
    margin: 16px 0;
    height: 1px;
    overflow: hidden;
    border: none;
    background-color: #939393;
    // border: 1px solid #939393;
  }
  hr.none {
    border: none;
  }
  table {
    margin: 5px 15px;
  }
}
