---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="header">
	<div class="header_inner">
		<div class="glass"></div>
		<nav>
			<HeaderLink class="item" href="/">扉漆</HeaderLink>
			<HeaderLink class="item" href="/blog">博客</HeaderLink>
			<HeaderLink class="item" href="/about">扫灰</HeaderLink>
		</nav>
	</div>
</header>
<style lang="less">
@import '../styles/var.less';	
@main_hei: 40px;
.header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: @main_hei;
	font-size: 16px;
	.header_inner {
		.wrap_inner;
		background-color: @bg_grey;
		box-shadow: 0 1px 3px rgba(160, 160, 175, 0.2);
	}
	nav{
		display: flex;
	}
	.item{
		position: relative;
		display: inline-block;
		width: 130px;
		height: 100%;
		margin: 0;
		text-align: center;
		line-height: @main_hei;
		color: @text_blank;
		background-color: @bg_blue;
		&:not(:last-of-type)::after{
			content: ' ';
			position: absolute;
			right: 1px;
			top: 12px;
			width: 2px;
			height: 12px;
			background-color: @bg_green;
		}
	}
	.glass {
		float: right;
		width: @main_hei;
		height: @main_hei;
		background: url(/glassdoor.svg) center no-repeat;
		background-size: auto 18px;
	}
}
</style>
